apiVersion: source.toolkit.fluxcd.io/v1beta1
kind: HelmRepository
metadata:
  name: kiam
  namespace: flux-system
spec:
  url: https://uswitch.github.io/kiam-helm-charts/charts/
  interval: 1h
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: kiam
  namespace: flux-system
spec:
  targetNamespace: kiam
  storageNamespace: kiam
  chart:
    spec:
      chart: kiam
      version: 6.1.2
      sourceRef:
        kind: HelmRepository
        name: kiam
  interval: 1h
  values:
    agent:
      host:
        interface: antrea-gw0
        iptables: true
    server:
      assumeRoleArn: "arn:aws:iam::106441901180:role/kiam.tce"
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
